@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  height: 100dvh;
  width: 100dvw;
}
::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  @apply text-text;
}

.App {
  @apply w-[100dvw];
  @apply h-[100dvh];
  @apply bg-gradient-to-b from-[#165a87] from-70% inset-0 to-100% mix-blend-screen to-[#051c3b];
  @apply overflow-x-hidden;
}